<launch>
    <node pkg="hbs2" type="hbs2_i2c_mgr" required="true"/>
    <node pkg="hbs2" type="iot_srv" />
    <node pkg="hbs2" type="iort" />
    <node pkg="hbs2" type="mcp9808" />
    <node pkg="hbs2" type="mpr121" />
    <node pkg="hbs2" type="srf02" />
    <node pkg="hbs2" type="touch" />
</launch>